<div class="card">
  <div class="card-header">
    Personas
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Fecha de registro</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of Persons; let iControl=index">
          <td>{{person.id}}</td>
          <td>{{person.fullname}}</td>
          <td>{{person.birth | date: 'dd-MM-YYYY' :'+0000' }}</td>
          <td>{{person.createdAt | date: 'dd-MM-YYYY hh:m:s aaa' :'-05:00'}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modaleditar"
                (click)="editPerson(person)">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" class="btn btn-warning" (click)="trashPerson(person.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modelId">
  Registrar persona
</button>

<!-- Modal Crear persona-->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registro de persona</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="contactForm" [formGroup]="formPerson" (ngSubmit)="sendData()">
          <div class="row">

            <mat-form-field class="col">

              <input matInput placeholder="Nombre Completo" class="form-control" name="fullname"
                formControlName="fullname">

            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Seleccione fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


          </div>
          <br>
          <button id="btnSubmit" mat-raised-button type="submit" color="primary"
            [disabled]="formPerson.invalid">Registrar</button>
         
        </form>



      </div>
    </div>
  </div>
</div>

<!-- Modal Editar persona-->
<div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar persona</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form [formGroup]="formEdit" (ngSubmit)="updateData()">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" formControlName="fullname">
            </div>
            <div class="col-md-5">
              <input type="date" class="form-control" placeholder="Last name" formControlName="birth">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            <fa-icon [icon]="iconsave"></fa-icon> Registrar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <fa-icon [icon]="iconsave"></fa-icon> Cerrar
          </button>


        </form>
      </div>
    </div>
  </div>
</div>