<div class="card">
  <div class="card-header">
    Personas
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Fecha de registro</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of Persons; let iControl=index">
          <td>{{person.id}}</td>
          <td>{{person.fullname}}</td>
          <td>{{person.birth}}</td>
          <td>{{person.createdAt}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modaleditar"><fa-icon [icon]="faEdit"></fa-icon></button>
              <button type="button" class="btn btn-warning" (click)="trashPerson(person.id)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
