
<app-person-table></app-person-table>

<h1>Angular 11 Sweetalert2 Examples - Tutsmake.com</h1>
   
<button (click)="simpleAlert()">Simple Alert</button>
<button (click)="alertWithSuccess()">Alert with Success</button>
<button (click)="confirmBox()">Confirm Box</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modelId">
  Registrar persona
</button>

<!-- Modal Crear persona-->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de persona</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formPerson" (ngSubmit)="sendData()">
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" formControlName="fullname" placeholder="Nombre completo" required>
                      </div>
                      <div class="col-md-5">
                        <input type="date" class="form-control" formControlName="birth" placeholder="Last name" required>
                      </div>
                      
                    </div>
                    <br>
                    <div class="row">
                      <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="submit" class="btn btn-success"><fa-icon [icon]="iconsave"></fa-icon> Registrar</button>
                          <button type="button" class="btn btn-warning"><fa-icon [icon]="iconclose"></fa-icon> Cerrar</button>
                        </div>
                      </div>
                    </div>
                    
    
                    
                  </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar persona-->
<div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Editar persona</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col-md-5">
                      <input type="date" class="form-control" placeholder="Last name">
                    </div>
                  </div>
                </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><fa-icon [icon]="iconsave"></fa-icon> Cerrar</button>
              <button type="button" class="btn btn-primary"><fa-icon [icon]="iconsave"></fa-icon> Registrar</button>
          </div>
      </div>
  </div>
</div>
